h1{
  font-family:Libre Baskerville;
}
p{
  font-family:segoe ui;
}
.center{
  text-align:center;
}
.alinear{
  display:flex;
  justify-content:space-between;
}
div{
  border:2px solid black;
  border-radius:1000px;
  margin:20px;
  background-color:#c9c1a3;
}
.sociedad{
  font-family:segoe ui;
  font-size:35px;
  font-weight:bold;
  text-align:center;
}
img{
  width:440px;
  border-radius:30px;
  
}
.info{
  text-align:center;
}
li{
  font-weight:bold;
  font-family:Segoe UI;
}
h3{
  font-family:Segoe UI;
}
header{
  background-color:#c9c1a3;
  padding:10px;
  border-radius:10px;
}
body{
  background-color:#f7eabb;
}
footer{
    background-color:#c9c1a3;
    padding:10px;
    border-radius:10px;
  margin-top:20px;
  }
.separa{
  margin-bottom:20px;
}
